.world-object-icon {
  background-position: center center;
  background-size: cover
}

:host {
  display: inline-block;
}

.icon-name-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.world-object-row-container{
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;

}
