<!-- use a disabled button to provide padding for tree leaf -->
<div class="world-object-row-container">

  <div class="icon-name-container">
    <button mat-icon-button disabled class="world-object-icon" [style]="backgroundImageStyle()">
    </button>
    <span> {{worldObjectNode.name()}} </span>
  </div>


  @if (worldObjectNode.type == WorldObjectType.CharacterSheet){
  <button mat-icon-button (click)="toggleFavourite()">
    <mat-icon [svgIcon]="'star'" [style]="isFavouriteStyle()"></mat-icon>
  </button>

  <button mat-icon-button (click)="toggleCharacterSheet()">
    <mat-icon [fontIcon]="'menu_book'"></mat-icon>
  </button>
  }
</div>
