.row-container {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensures all children stretch to the same height */
}

mat-icon {
  width: fit-content;
  height: 100%; /* Ensure icon takes up the full height of its container */
  max-height: 50vh;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 1; /* Ensures the form grows to fill the available space */
}

.column-container {
  display: flex;
  flex-direction: column;
}

table {
  box-shadow: none;
  min-width: auto;
  height: fit-content;
}
