:host{
    display: flex;
    border-style: solid;
    border-color: #1861ac;
    width: 100%;
    flex-wrap: wrap;
}
app-world-card {
    display: flex;
    width: 33%;
    border-style: solid;
    border-color: #1861ac;
}