<app-auth-card>
  <form class="auth-card-form" [formGroup]="registerForm" (ngSubmit)="register()">
    <p> Sign Up</p>
    <div class="name-surname-container">
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-icon matPrefix>person</mat-icon>
        <input formControlName="firstName" placeholder="First name" matInput required />
      </mat-form-field>

      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-icon matPrefix>person</mat-icon>
        <input formControlName="lastName" placeholder="Last name" matInput required />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-icon matPrefix>mail</mat-icon>
      <input formControlName="email" placeholder="Email" matInput required autocomplete="one-time-code"/>
    </mat-form-field>

    <div *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)" class="alert alert-danger">
      <div *ngIf="registerForm.controls.email.errors?.['required']">
        Email is required.
      </div>

      <div *ngIf="registerForm.controls.email.errors?.['email']">
        Is not a valid email
      </div>
    </div>

    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-icon matPrefix>lock</mat-icon>
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon> {{hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
      <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Password" matInput required autocomplete="one-time-code"/>
    </mat-form-field>

    <div *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)" class="alert alert-danger">
      <div *ngIf="registerForm.controls.password.errors?.['required']">
        Password is required.
      </div>

      <div *ngIf="registerForm.controls.password.errors?.['minlength']">
        Password must be at least {{registerForm.controls.password.errors?.['minlength'].requiredLength}} characters long.
      </div>
    </div>

    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-icon matPrefix> lock</mat-icon>
      <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideConfirmPassword">
        <mat-icon>{{hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
      <input [type]="hideConfirmPassword ? 'password' : 'text'"
        formControlName="confirmPassword" placeholder="Confirm password" matInput required autocomplete="one-time-code"/>
    </mat-form-field>

    <div *ngIf="registerForm.controls.confirmPassword.invalid && (registerForm.controls.confirmPassword.dirty || registerForm.controls.confirmPassword.touched)" class="alert alert-danger">
      <div *ngIf="registerForm.controls.confirmPassword.errors?.['required']">
        Confirm password is required.
      </div>
    </div>
    <button type="submit" color="accent" mat-flat-button>
      Sign Up
    </button>
    <p class="auth-card-text"> Already have an accout?&nbsp; <a class="auth-card-link" color="accent" [routerLink]="['/login']"> Log In</a></p>
  </form>

</app-auth-card>
