<!-- TODO: Add trackby -->
<mat-tree #tree [dataSource]="childrenAccessorById(undefined)" [childrenAccessor]="childrenAccessor">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node"
    [style.padding-left]="getPadding(node)"
    [style.opacity]="node.id == previewedWorldObject()?.id ? 0.5 : 1" [style.background-color]="node.id == draggedWorldObject()?.id ? 'blue' : 'unset'"
    draggable="true" (dragenter)="onDragEnter($event, node)" (dragover)="onDragOver($event, node)"  (dragstart)="onDragStart($event, node);">
    <app-world-object [worldObjectNode]="node">
    </app-world-object>

  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: isFolder"  matTreeNodeToggle
    [style.padding-left]="getPadding(node)"
    [style.opacity]="node.id == previewedWorldObject()?.id ? 0.5 : 1" [style.background-color]="node.id == draggedWorldObject()?.id ? 'blue' : 'unset'"
    draggable="true" (dragenter)="onDragEnter($event, node)" (dragover)="onDragOver($event, node)" (dragstart)="onDragStart($event, node);"
    [cdkTreeNodeTypeaheadLabel]="node.name()">
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{tree.isExpanded(node) ? 'folder_open' : 'folder'}}
      </mat-icon>
    </button>
    {{node.name()}}
  </mat-tree-node>
</mat-tree>
