<app-auth-card>
  <form class="auth-card-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="outline" hideRequiredMarker >
      <mat-icon matPrefix>mail</mat-icon>
      <input formControlName="email" placeholder="Email" matInput required />
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-icon matPrefix>lock</mat-icon>
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon >{{hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
      <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Password" matInput required  />
    </mat-form-field>

    <button type="submit" color="accent" mat-flat-button>
      Log in
    </button>

    <p class="auth-card-text"> Don`t have an accout yet?&nbsp; <a class="auth-card-link" [routerLink]="['/register']"> Sign Up</a></p>
  </form>
</app-auth-card>
