<div>
  @for (message of messages$ | async; track message.message) {
  <div class="chat-entry">{{message.userName}} : {{message.message}}</div>
  }
</div>

<form [formGroup]="messageForm">

  <mat-form-field hideRequiredMarker>
    <input formControlName="text" placeholder="Type some text..." matInput required />
  </mat-form-field>

  <button mat-icon-button matTooltip="Send Message" (click)="sendMessage()" [disabled]="!messageForm.valid">
    <mat-icon [fontIcon]="'send'"></mat-icon>
  </button>

</form>
