:host{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.chat-entry {
  min-height: 60px;
  background-color: wheat;
  color: black;
  border: 1px solid white;
}
