@use '@angular/material' as mat;
@import "../../../../dark-theme.scss";

:host{
  display:flex;
  flex-direction: row;
  height:100%;
}

.game-container-left {
  display: flex;
  flex-direction: column;
  width:80%;
  flex: 1;
}

.game-container-right {
  display: flex;
  flex-direction: column;
  width:20%;
  z-index: 1;
}

.game-container-left-inner {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.game-container-left-inner-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
}

app-game-bar-map-select {
  background-color: mat.get-theme-color($theme, neutral, 98);
  justify-content: space-between;
}

app-game-bar-quick-access {
  background-color: orange;
  width:10%
}

app-game-screen {
  top: calc(var(--map-select-height)*-1);
}
